html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita barras de rolagem */
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
}

canvas {
  /* Remove a borda para uma experiência de tela cheia mais limpa */
  display: block;
}